<div class="container">
	<div class="row">
		<rga-Header></rga-Header>	

	
		<div id="main">
		<div>
			<h3>THE EARLY DAYS</h3>	
			<h2>MST3K</h2>	
			<p>In the not-too-distant future,next Sunday,AD <br/> There was a man. There were some puppets. It was amazing. <br/> These are the experiments of the SOL.</p>
		</div>
			<div class="mainVideo">
				<ng-youtube-embed 
					url="link" 
				    autoplay="false"
				    color="white"
				    disablekb="true"
				    end="20"
				    width="1000"
		    		height="500"
				    >
				</ng-youtube-embed>
			</div>
		</div>

		<div class="col-md-12">
		<div>LOOK WHAT WE FOUND...</div>
			<div class="suggestions">
				<rga-Videos></rga-Videos>
			</div>
		</div>
	
		<rga-Footer></rga-Footer>
	</div>
</div>